* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
  font-family: "Poppins", sans-serif;
}
.container {
  background-color: hsla(0, 100%, 74%, 0.879);
  background-image: url("/images/bg-intro-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 40%);
  gap: 100px;
  padding: 100px;
}
.formulaire {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#free {
  padding: 12px;
  outline: none;
  border: none;
  border-radius: 4px;
  background-color: hsl(248, 32%, 49%);
  color: white;
  font-size: 16px;
}
.formContainer {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 18px;
  border-radius: 4px;
  box-shadow: 1px 1px 1px 2px rgba(128, 128, 128, 0.243);
  position: relative;
}
input[type="Submit"] {
  background-color: hsl(154, 59%, 51%);
  color: white;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input {
  padding: 8px;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.content > h1 {
  font-size: 32px;
}
#bottomText {
  font-size: 10px;
  color: gray;
  text-align: center;
}
#bottomText > a {
  text-decoration: none;
  color: red;
}

.image {
  /* top: 27px;
  left: 141px;
  width: 15px;
  height: 15px; */
}
.inputContainer {
  width: 100%;
  position: relative;
  text-align: right;
}
input {
  width: 100%;
}
img {
  position: absolute;
  height: 20px;
  width: 20px;
  right: 4px;
  top: 4px;
  display: none;
}
label {
  display: none;
  font-size: 9px;
  color: red;
}
